$font_size_s: 12px;
$font_size_m: 14px;
$font_size_l: 18px;
$font_size_xl: 24px;
$font_size_xxl: 32px;
$font_size_xxxl: 40px;

.text {
  font-size: $font_size_m;

  &--s {
    @extend .text;
    font-size: $font_size_s;
  }

  &--m {
    @extend .text;
    font-size: $font_size_m;
  }

  &--l {
    @extend .text;
    font-size: $font_size_l;
  }

  &--xl {
    @extend .text;
    font-size: $font_size_xl;
  }

  &--xxl {
    @extend .text;
    font-size: $font_size_xxl;
  }

  &--xxxl {
    @extend .text;
    font-size: $font_size_xxxl;
  }

  &--b {
    font-weight: bold;
  }
}
