footer {
  @apply bg-sky-900 text-slate-100;

  .footer-container {
    @apply mx-auto px-10 py-10 max-w-screen-2xl flex flex-row items-center justify-center;
  }

  .footer__left {
    @apply hidden lg:block;

    img {
      @apply mr-10;
      width: 200px;
      height: auto;
      filter: grayscale(0.6);
    }
  }

  .footer__right {
    @apply lg:flex-shrink-0 lg:max-w-screen-sm py-4;
  }

  .footer__title {
    @apply text-3xl mb-4 font-bold;
  }

  .footer__body {
    @apply text-lg mb-10;

    p {
      @apply mb-4;
    }
  }

  .footer__link {
    @apply inline-block px-12 py-3 text-base text-sky-900 bg-slate-100 font-bold rounded whitespace-nowrap flex-shrink-0 hover:bg-slate-200 active:bg-slate-100;
  }
}
