@use '../global/styles/colors.scss' as colors;
@use '../global/styles/typography.scss' as typography;
@use '../global/styles/media.scss' as media;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-width: 320px;
  margin: 0 auto;
  background-color: colors.$background_main;
}

@media only screen and (min-width: media.$desktop_w_breakpoint) and (min-height: media.$desktop_h_breakpoint) {
  body {
    overflow: hidden;
  }
}
