@use '../../../../global/styles/colors.scss' as colors;
@use '../../../../global/styles/typography.scss' as typography;

.caption {
  font-size: typography.$font_size_xl;
  color: colors.$accent_color;
  text-align: center;
}

@media only screen and (min-width: 720px) {
  .caption {
    font-size: typography.$font_size_xxl;
  }
}
