@use '../../global/styles/colors.scss' as colors;

.landing-page {
  transition: background-color 300ms;

  .body {
    background-color: colors.$background_main;
    transition: background-color 300ms;

    position: relative;
    min-height: 100vh;
  }

  &--dark {
    background-color: colors.$accent_color;
    .body {
      background-color: colors.$accent_color;
    }
  }
}
